<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'maintemplate.html' %}
    {% block content %}
        <h1>work with us page</h1>
        <form action="">
            <h3>TranerName:{{name}}</h3>
            <h3>Address:{{add}}</h3>
            <h3>TranerFess:{{fees}}</h3>
        </form>
    {% endblock %}
    
</body>
</html>