<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div
        {
            margin: auto;
            width: 50%;
        }
        h4
        {
            margin: 20px ;
            border-bottom: 4px solid black;
            color:rgb(27, 28, 27) ;
            text-shadow: 1px 1px 2px pink;
            
        }
        span
        {
            font-size: x-large;
            
        }
        hr
        {
            width: 50%;
            margin: auto;
        }
    </style>
</head>
<body bgcolor="green">
    <h1 align="center">Contact us page</h1>
    <hr>
    <br>
    <hr>
    <br>
    <div style="border: 4px solid black; ">
        <h4>Email: <span >{{email}}</span> </h4>
        <h4>Mobile: <span >{{mobile}}</span> </h4>
        <h4>Address: <span >{{Address}}</span> </h4>
        <h4>City: <span >{{City}}</span> </h4>
        <h4>Pincode: <span >{{Pincode}}</span> </h4>
    </div>

</body>
</html>