{% extends 'django_template.html' %}
{% load static %}
{% block content %}
     <div class="breadcumb-wrapper " data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
          <div class="container z-index-common">
               <div class="breadcumb-content">
                    <h1 class="breadcumb-title">About <span class="font-style text-theme2">Us</span></h1>
                    <ul class="breadcumb-menu">
                         <li><a href="index.html">Home</a></li>
                         <li>About Us</li>
                    </ul>
               </div>
          </div>
     </div>
     <div class="space position-relative">
          <div class="about-line" data-bg-src="assets/img/shape/about_line.png"></div>
          <section class="space-bottom">
               <div class="container">
                    <div class="row gy-30 justify-content-center">
                         <div class="col-md-4 col-sm-6 feature-card-wrap">
                              <div class="feature-card">
                                   <div class="feature-card_icon"><img src="assets/img/icon/feature_1_1.svg" alt="icon">
                                   </div>
                                   <div>
                                        <h3 class="feature-card_title">Discount Voucher</h3>
                                        <p class="feature-card_text">Competently orchestrate integrated schema for
                                             quickly create.</p>
                                   </div>
                              </div>
                         </div>
                         <div class="col-md-4 col-sm-6 feature-card-wrap">
                              <div class="feature-card">
                                   <div class="feature-card_icon"><img src="assets/img/icon/feature_1_2.svg" alt="icon">
                                   </div>
                                   <div>
                                        <h3 class="feature-card_title">Fresh Healthy Foods</h3>
                                        <p class="feature-card_text">Quantimanes orchestrate integrated schema for
                                             quickly Taken.</p>
                                   </div>
                              </div>
                         </div>
                         <div class="col-md-4 col-sm-6 feature-card-wrap">
                              <div class="feature-card">
                                   <div class="feature-card_icon"><img src="assets/img/icon/feature_1_3.svg" alt="icon">
                                   </div>
                                   <div>
                                        <h3 class="feature-card_title">Fast Serve On Table</h3>
                                        <p class="feature-card_text">Mansikatils orchestrate integrated schema for
                                             quickly Harbest.</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
          <div class="space-lg-top">
               <div class="space-bottom">
                    <div class="container">
                         <div class="row">
                              <div class="col-xl-6 col-xxl-7 pe-xxl-5">
                                   <div class="text-end"><img src="assets/img/normal/about_1_1.png" alt="About"></div>
                              </div>
                              <div class="col-xl-6 col-xxl-5 col-lg-9 mt-35 mt-xl-0">
                                   <div class="title-area mb-30"><span class="sub-title"><img class="icon"
                                                  src="assets/img/icon/title_icon.svg" alt="icon"> About Us</span>
                                        <h2 class="sec-title">Real Delicious Food Straight To <span
                                                  class="font-style text-theme">Your Table</span></h2>
                                   </div>
                                   <p class="mt-n2 mb-4">Assertively envisioneer high-payoff architectures after
                                        interactive service. Collaboratively whiteboard pandemic intellectual capital
                                        without cross-platform channels.</p>
                                   <div class="checklist-wrap">
                                        <div class="as-video"><img src="assets/img/normal/about_1_2.jpg" alt="video"> <a
                                                  href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                                                  class="play-btn popup-video"><i class="fas fa-play"></i></a></div>
                                        <div class="checklist">
                                             <ul>
                                                  <li>Delicious & Healthy Foods</li>
                                                  <li>Spacific Family & Kids Zone</li>
                                                  <li>Best Price & Offers</li>
                                                  <li>Made By Fresh Ingredients</li>
                                                  <li>Music & Other Facilities</li>
                                             </ul>
                                        </div>
                                   </div>
                                   <div class="btn-wrap"><a href="about.html" class="as-btn">DISCOVER MORE</a>
                                        <div class="profile-box">
                                             <div class="avater"><img src="assets/img/normal/about_avater.jpg"
                                                       alt="avater"></div>
                                             <div class="content">
                                                  <h6 class="title">David Jordan</h6>
                                                  <p class="desig">CEO, of Pizzer Company</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="shape-mockup about-shape1" data-top="0%" data-left="0"><img
                              src="assets/img/shape/bg_shape_1.png" alt="shapes"></div>
               </div>
          </div>
          <div class="space-lg-top">
               <div class="container">
                    <div class="row flex-row-reverse">
                         <div class="col-xl-7 ps-xxl-5">
                              <div class="img-box2 style2">
                                   <div class="img1"><img src="assets/img/normal/about_2_1.png" alt="About"></div>
                                   <div class="shape1"><img src="assets/img/normal/about_2_2.png" alt="About"></div>
                                   <div class="discount_style1" data-bg-src="assets/img/shape/discount_bg_1.svg">
                                        <h4 class="percentage">40 <span class="small-text">%<br><span
                                                       class="text">Off</span></span></h4>
                                   </div><a href="shop.html" class="order-btn"><span
                                             class="font-style text-theme">Order</span>Now</a>
                              </div>
                         </div>
                         <div class="col-xl-5 space-top space-xl">
                              <div class="title-area mb-30"><span class="sub-title"><img class="icon"
                                             src="assets/img/icon/title_icon.svg" alt="icon"> Our Story</span>
                                   <h2 class="sec-title">The Pizzer Has Excellent Of <span
                                             class="font-style text-theme">Quality Foods</span></h2>
                              </div>
                              <p class="mt-n2 mb-20">Compellingly supply professional material rather than
                                   out-of-the-box process improvements. Phosfluorescently communicate premium mindshare
                                   and extensive imperatives. Dynamically fashion.</p>
                              <p class="mb-4">Seamlessly conceptualize sticky functionalities after prospective data.
                                   Interactively unleash customized supply chains whereas goal oriented paradigm.
                                   Credibly reintermediate client-focused model for.</p>
                              <div class="btn-wrap style1"><a href="about.html" class="as-btn">DISCOVER MORE</a>
                                   <div class="about-counter1">
                                        <h3 class="counter-title"><span class="counter-number">24</span></h3>
                                        <div class="media-body">
                                             <p class="counter-info">YEARS OF</p>
                                             <h5 class="counter-text">Experience</h5>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="shape-mockup about-shape3" data-bottom="120px" data-left="0"><img
                         src="assets/img/shape/bg_shape_5.png" alt="shapes"></div>
               <div class="shape-mockup leaf jump" data-top="0%" data-left="5%"><img
                         src="assets/img/shape/chocolate_1.png" alt="shape"></div>
               <div class="shape-mockup leaf jump-reverse d-none d-xl-block" data-bottom="10%" data-right="5%"><img
                         src="assets/img/shape/pot_1.png" alt="shape"></div>
          </div>
     </div>
     <section class="space bg-title" data-bg-src="assets/img/bg/feature_bg_2.png">
          <div class="container">
               <div class="title-area text-center"><span class="sub-title"><img class="icon"
                              src="assets/img/icon/title_icon.svg" alt="icon"> Our Strength</span>
                    <h2 class="sec-title text-white">Our Most Loved <span class="font-style text-theme">Foods</span>
                    </h2>
                    <p class="sec-text ms-auto me-auto text-white">Objectively pontificate quality models before
                         intuitive information. Dramatically recaptiualize multifunctional materials.</p>
               </div>
               <div class="feature-grid-wrap">
                    <div class="feature-grid">
                         <div class="feature-grid_img"><img src="assets/img/icon/feature_4_1.svg" alt="Food"></div>
                         <div>
                              <h3 class="feature-grid_title box-title text-white">Fast Foods</h3>
                              <p class="feature-grid_text text-border">Professionally fabricate e-business vortals and
                                   impactful core competencie. Compellingly impact technically sound</p>
                         </div>
                    </div>
                    <div class="feature-grid">
                         <div class="feature-grid_img"><img src="assets/img/icon/feature_4_2.svg" alt="Food"></div>
                         <div>
                              <h3 class="feature-grid_title box-title text-white">Healthy Foods</h3>
                              <p class="feature-grid_text text-border">Professionally fabricate e-business vortals and
                                   impactful core competencie. Compellingly impact technically sound</p>
                         </div>
                    </div>
                    <div class="feature-grid">
                         <div class="feature-grid_img"><img src="assets/img/icon/feature_4_3.svg" alt="Food"></div>
                         <div>
                              <h3 class="feature-grid_title box-title text-white">Hygienic Foods</h3>
                              <p class="feature-grid_text text-border">Professionally fabricate e-business vortals and
                                   impactful core competencie. Compellingly impact technically sound</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <section class="z-index-common space-top">
          <div class="container" data-pos-space="#testiSec1" data-sec-space="margin-bottom" data-margin-bottom="170px">
               <div class="title-area text-center"><span class="sub-title"><img class="icon"
                              src="assets/img/icon/title_icon.svg" alt="icon"> Team Members</span>
                    <h2 class="sec-title">Meet Our Expart <span class="font-style text-theme">Chefs</span></h2>
                    <p class="sec-text ms-auto me-auto">Objectively pontificate quality models before intuitive
                         information. Dramatically recaptiualize multifunctional materials.</p>
               </div>
               <div class="row slider-shadow number-dots as-carousel" data-slide-show="4" data-lg-slide-show="3"
                    data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-dots="true"
                    data-xl-dots="true" data-ml-dots="true" data-lg-dots="true" data-md-dots="true">
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                         <div class="team-card">
                              <div class="team-img"><img src="assets/img/team/team_1_1.jpg" alt="Team"></div>
                              <div class="team-content">
                                   <h3 class="team-title box-title"><a href="team-details.html">David Latham</a></h3>
                                   <span class="team-desig">Chief Executive</span>
                                   <div class="as-social"><a target="_blank" href="https://facebook.com/"><i
                                                  class="fab fa-facebook-f"></i></a> <a target="_blank"
                                             href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a
                                             target="_blank" href="https://instagram.com/"><i
                                                  class="fab fa-instagram"></i></a> <a target="_blank"
                                             href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                         <div class="team-card">
                              <div class="team-img"><img src="assets/img/team/team_1_2.jpg" alt="Team"></div>
                              <div class="team-content">
                                   <h3 class="team-title box-title"><a href="team-details.html">Mary Jenica</a></h3>
                                   <span class="team-desig">Chief Chef</span>
                                   <div class="as-social"><a target="_blank" href="https://facebook.com/"><i
                                                  class="fab fa-facebook-f"></i></a> <a target="_blank"
                                             href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a
                                             target="_blank" href="https://instagram.com/"><i
                                                  class="fab fa-instagram"></i></a> <a target="_blank"
                                             href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                         <div class="team-card">
                              <div class="team-img"><img src="assets/img/team/team_1_3.jpg" alt="Team"></div>
                              <div class="team-content">
                                   <h3 class="team-title box-title"><a href="team-details.html">Joseph Carter</a></h3>
                                   <span class="team-desig">Senior Chef</span>
                                   <div class="as-social"><a target="_blank" href="https://facebook.com/"><i
                                                  class="fab fa-facebook-f"></i></a> <a target="_blank"
                                             href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a
                                             target="_blank" href="https://instagram.com/"><i
                                                  class="fab fa-instagram"></i></a> <a target="_blank"
                                             href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                         <div class="team-card">
                              <div class="team-img"><img src="assets/img/team/team_1_4.jpg" alt="Team"></div>
                              <div class="team-content">
                                   <h3 class="team-title box-title"><a href="team-details.html">Anjelina Rosee</a></h3>
                                   <span class="team-desig">Senior Chef</span>
                                   <div class="as-social"><a target="_blank" href="https://facebook.com/"><i
                                                  class="fab fa-facebook-f"></i></a> <a target="_blank"
                                             href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a
                                             target="_blank" href="https://instagram.com/"><i
                                                  class="fab fa-instagram"></i></a> <a target="_blank"
                                             href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                         <div class="team-card">
                              <div class="team-img"><img src="assets/img/team/team_1_5.jpg" alt="Team"></div>
                              <div class="team-content">
                                   <h3 class="team-title box-title"><a href="team-details.html">Rubina Jenny</a></h3>
                                   <span class="team-desig">Senior Chef</span>
                                   <div class="as-social"><a target="_blank" href="https://facebook.com/"><i
                                                  class="fab fa-facebook-f"></i></a> <a target="_blank"
                                             href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a
                                             target="_blank" href="https://instagram.com/"><i
                                                  class="fab fa-instagram"></i></a> <a target="_blank"
                                             href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="shape-mockup chili jump-reverse" data-top="0%" data-right="0"><img
                    src="assets/img/shape/red_chili.png" alt="shape"></div>
     </section>
     <section class="space bg-smoke2" id="testiSec1" data-bg-src="assets/img/bg/testi_bg_1.png">
          <div class="container">
               <div class="row justify-content-lg-between justify-content-center align-items-end">
                    <div class="col-lg-9 mb-n2 mb-lg-0">
                         <div class="title-area text-center text-lg-start"><span class="sub-title"><img class="icon"
                                        src="assets/img/icon/title_icon.svg" alt="icon"> Testimonials</span>
                              <h2 class="sec-title">Our Customar <span class="font-style text-theme">Feedbacks</span>
                              </h2>
                              <p class="sec-text ms-auto me-auto ms-lg-0">Objectively pontificate quality models before
                                   intuitive information. Dramatically recaptiualize multifunctional materials.</p>
                         </div>
                    </div>
                    <div class="col-auto">
                         <div class="sec-btn">
                              <div class="icon-box"><button data-slick-prev="#testiSlide1"
                                        class="slick-arrow default"><i class="far fa-arrow-left"></i></button> <button
                                        data-slick-next="#testiSlide1" class="slick-arrow default"><i
                                             class="far fa-arrow-right"></i></button></div>
                         </div>
                    </div>
               </div>
               <div class="row slider-shadow as-carousel" id="testiSlide1" data-slide-show="3" data-lg-slide-show="2"
                    data-md-slide-show="1">
                    <div class="col-xl-4 col-lg-6">
                         <div class="testi-box">
                              <div class="testi-box_icon"><img src="assets/img/icon/quote_left.svg" alt="quote"></div>
                              <p class="testi-box_text">“Synergistically strategize interdependent ROI through
                                   distinctive markets. Credibly restore one-to-one through.”</p>
                              <div class="testi-box_review"><i class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                              </div>
                              <div class="testi-box_profile">
                                   <div class="testi-box_avater"><img src="assets/img/testimonial/testi_1_1.jpg"
                                             alt="Avater"></div>
                                   <div class="media-body">
                                        <h3 class="testi-box_name">Rayan Kook</h3><span class="testi-box_desig">NYC,
                                             USA</span>
                                   </div>
                              </div>
                              <div class="testi-box_img"><img src="assets/img/testimonial/review_1_1.png"
                                        alt="Reveiw Image"></div>
                         </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                         <div class="testi-box">
                              <div class="testi-box_icon"><img src="assets/img/icon/quote_left.svg" alt="quote"></div>
                              <p class="testi-box_text">“Synergistically strategize interdependent ROI through
                                   distinctive markets. Credibly restore one-to-one through.”</p>
                              <div class="testi-box_review"><i class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                              </div>
                              <div class="testi-box_profile">
                                   <div class="testi-box_avater"><img src="assets/img/testimonial/testi_1_2.jpg"
                                             alt="Avater"></div>
                                   <div class="media-body">
                                        <h3 class="testi-box_name">Michel Clark</h3><span class="testi-box_desig">DYM,
                                             USA</span>
                                   </div>
                              </div>
                              <div class="testi-box_img"><img src="assets/img/testimonial/review_1_2.png"
                                        alt="Reveiw Image"></div>
                         </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                         <div class="testi-box">
                              <div class="testi-box_icon"><img src="assets/img/icon/quote_left.svg" alt="quote"></div>
                              <p class="testi-box_text">“Synergistically strategize interdependent ROI through
                                   distinctive markets. Credibly restore one-to-one through.”</p>
                              <div class="testi-box_review"><i class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                              </div>
                              <div class="testi-box_profile">
                                   <div class="testi-box_avater"><img src="assets/img/testimonial/testi_1_3.jpg"
                                             alt="Avater"></div>
                                   <div class="media-body">
                                        <h3 class="testi-box_name">Rosse Mons</h3><span class="testi-box_desig">DO,
                                             USA</span>
                                   </div>
                              </div>
                              <div class="testi-box_img"><img src="assets/img/testimonial/review_1_3.png"
                                        alt="Reveiw Image"></div>
                         </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                         <div class="testi-box">
                              <div class="testi-box_icon"><img src="assets/img/icon/quote_left.svg" alt="quote"></div>
                              <p class="testi-box_text">“Synergistically strategize interdependent ROI through
                                   distinctive markets. Credibly restore one-to-one through.”</p>
                              <div class="testi-box_review"><i class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i
                                        class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                              </div>
                              <div class="testi-box_profile">
                                   <div class="testi-box_avater"><img src="assets/img/testimonial/testi_1_4.jpg"
                                             alt="Avater"></div>
                                   <div class="media-body">
                                        <h3 class="testi-box_name">Naisa Carg</h3><span class="testi-box_desig">TO,
                                             USA</span>
                                   </div>
                              </div>
                              <div class="testi-box_img"><img src="assets/img/testimonial/review_1_4.png"
                                        alt="Reveiw Image"></div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="shape-mockup leaf jump-reverse" data-top="0%" data-left="0"><img src="assets/img/shape/leaf_1.png"
                    alt="shape"></div>
          <div class="shape-mockup leaf jump" data-bottom="0%" data-right="0"><img src="assets/img/shape/leaf_2.png"
                    alt="shape"></div>
     </section>

     {% endblock %}