{% extends 'django_template.html' %}
{% load static %}
{% block content %}

<div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/breadcumb/breadcumb-bg.jpg' %}' %}">
  <div class="container z-index-common">
    <div class="breadcumb-content">
      <h1 class="breadcumb-title">
        Our <span class="font-style text-theme2">Main Category</span>
      </h1>
      <ul class="breadcumb-menu">
        <li><a href="index.html">Home</a></li>
        <li>Our Main Category</li>
      </ul>
    </div>
  </div>
</div>

<section class="space bg-smoke2" data-bg-src="{% static 'assets/img/bg/menu_bg_1.png' %}">
  <div class="container">
       <div class="title-area text-center"><span class="sub-title"><img class="icon"
                      src="{% static 'assets/img/icon/title_icon.svg' %}" alt="icon"> Our Main Menu</span>
            <h2 class="sec-title">Browse Main <span class="font-style text-theme">Menu</span></h2>
            <p class="sec-text ms-auto me-auto">We Make The Best Food In Our Restaurant</p>
       </div>
       <div class="row as-carousel slider-shadow number-dots" data-slide-show="4" data-lg-slide-show="3"
            data-md-slide-show="2" data-sm-slide-show="2" data-dots="true" data-xl-dots="true"
            data-ml-dots="true" data-lg-dots="true" data-md-dots="true">
           
            {% for row in table %}
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="menu-card">
                   <a href="/food1/category/{{row.id}}">
                    <div class="menu-card_img"><img src="../media/pics/categoryimages/{{row.image}}" alt="Menu Image"></div>
                   <div class="menu-card_content">
                        <h3 class="menu-card_title box-title"><p class="text-dark">{{row.title}}</p>
                        </h3>
                        <p class="menu-card_text">{{row.discription}}</p><a href="/food1/category/{{row.id}}" class="as-btn">BROWSE
                             MENU</a>
                   </div>
                   </a>
              </div>
         </div>
            {% endfor %}
            
       </div>
  </div>
</section>






<div class="space bg-title" data-bg-src="{% static 'assets/img/bg/why_bg_1.png' %}">
  <div class="container">
       <div class="row flex-row-reverse justify-content-end">
            <div class="col-lg-7 ps-xxl-5">
                 <div class="img-box1">
                      <div class="img1"><img src="{% static 'assets//img/normal/about_1_1.png' %}" alt="About"></div>
                      <div class="shape1"><img src="{% static 'assets//img/normal/about_1_.png' %}" alt="About"></div>
                      <div class="discount_style1" data-bg-src="{% static 'assets/img/shape/discount_bg_1.svg' %}">
                           <h4 class="percentage">40 <span class="small-text">%<br><span
                                          class="text">Off</span></span></h4>
                      </div>
                 </div>
            </div>
            <div class="col-lg-5 mt-35 mt-lg-0">
                 <div class="title-area mb-30"><span class="sub-title"><img class="icon"
                                src="{% static 'assets/img/icon/title_icon.svg' %}" alt="icon"> Why Choose Us</span>
                      <h2 class="sec-title text-white">We Make The Best Food In Our <span
                                class="font-style text-theme">Restaurant</span></h2>
                 </div>
                 <p class="mt-n2 mb-25 text-white">Assertively envisioneer high-payoff architectures after
                      interactive service. Collaboratively whiteboard pandemic intellectual capital without
                      cross-platform channels.</p>
                 <div class="feature-box-wrap">
                      <div class="feature-box">
                           <div class="feature-box_icon" data-bg-src="{% static 'assets/img/shape/feature_icon_bg.svg' %}"><img
                                     src="{% static 'assets/img/icon/feature_2_1.svg' %}" alt="icon"></div>
                           <div>
                                <h3 class="feature-box_title box-title">Fastest Service</h3>
                                <p class="feature-box_text">Distinctively unleash client-base portals after
                                     cross platform information.</p>
                           </div>
                      </div>
                      <div class="feature-box">
                           <div class="feature-box_icon" data-bg-src="{% static 'assets/img/shape/feature_icon_bg.svg' %}"><img
                                     src="{% static 'assets/img/icon/feature_2_2.svg' %}" alt="icon"></div>
                           <div>
                                <h3 class="feature-box_title box-title">our Target </h3>
                                <p class="feature-box_text">'Expect More. Pay Less.'</p>
                           </div>
                      </div>
                 </div>
                 <div class="btn-wrap"><a href="/food1/category" class="as-btn style3">Browse Now</a> </div>
            </div>
       </div>
  </div>
</div>



{% endblock %}