{% extends 'django_template.html' %}
{% load static %}
{% block content %}

<section class="space">
    <div class="container">
         <div class="title-area text-center"><span class="sub-title"><img class="icon"
                        src="{% static 'assets/img/icon/title_icon.svg' %}" alt="icon"> News & Blog</span>
              <h2 class="sec-title">Our Latest Foods <span class="font-style text-theme">News</span></h2>
              <p class="sec-text ms-auto me-auto">Objectively pontificate quality models before intuitive
                   information. Dramatically recaptiualize multifunctional materials.</p>
         </div>
         <div class="row slider-shadow as-carousel" data-slide-show="3" data-lg-slide-show="2"
              data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
              <div class="col-md-6 col-xl-4">
                   <div class="blog-card">
                        <div class="blog-img"><img src="{% static 'assets/img/blog/blog_1_1.jpg' %}" alt="blog image"></div>
                        <div class="blog-content">
                             <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>By
                                       Pizzer</a> <a href="blog.html"><i class="fa-light fa-calendar-days"></i>15
                                       July, 2022</a> <a href="blog.html"><i
                                            class="fa-regular fa-tag"></i>Chicken</a></div>
                             <h3 class="blog-title"><a href="blog-details.html">10 Reasons To Do A Digital Detox
                                       Challenge</a></h3>
                             <div class="blog-bottom"><a href="blog-details.html" class="line-btn">Read More</a>
                                  <a href="blog-details.html" class="comment"><i
                                            class="fa-regular fa-comments"></i>3 Comments</a></div>
                        </div>
                   </div>
              </div>
              <div class="col-md-6 col-xl-4">
                   <div class="blog-card">
                        <div class="blog-img"><img src="{% static 'assets/img/blog/blog_1_2.jpg' %}" alt="blog image"></div>
                        <div class="blog-content">
                             <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>By
                                       Pizzer</a> <a href="blog.html"><i class="fa-light fa-calendar-days"></i>16
                                       July, 2022</a> <a href="blog.html"><i
                                            class="fa-regular fa-tag"></i>Mutton</a></div>
                             <h3 class="blog-title"><a href="blog-details.html">New Restaurant Town Our Ple Award
                                       Contract</a></h3>
                             <div class="blog-bottom"><a href="blog-details.html" class="line-btn">Read More</a>
                                  <a href="blog-details.html" class="comment"><i
                                            class="fa-regular fa-comments"></i>3 Comments</a></div>
                        </div>
                   </div>
              </div>
              <div class="col-md-6 col-xl-4">
                   <div class="blog-card">
                        <div class="blog-img"><img src="{% static 'assets/img/blog/blog_1_3.jpg' %}" alt="blog image"></div>
                        <div class="blog-content">
                             <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>By
                                       Pizzer</a> <a href="blog.html"><i class="fa-light fa-calendar-days"></i>17
                                       July, 2022</a> <a href="blog.html"><i
                                            class="fa-regular fa-tag"></i>Burger</a></div>
                             <h3 class="blog-title"><a href="blog-details.html">Innovative Hot Chessy raw Pasta
                                       Make Creator.</a></h3>
                             <div class="blog-bottom"><a href="blog-details.html" class="line-btn">Read More</a>
                                  <a href="blog-details.html" class="comment"><i
                                            class="fa-regular fa-comments"></i>3 Comments</a></div>
                        </div>
                   </div>
              </div>
              <div class="col-md-6 col-xl-4">
                   <div class="blog-card">
                        <div class="blog-img"><img src="{% static 'assets/img/blog/blog_1_4.jpg' %}" alt="blog image"></div>
                        <div class="blog-content">
                             <div class="blog-meta"><a href="blog.html"><i class="fa-regular fa-user"></i>By
                                       Pizzer</a> <a href="blog.html"><i class="fa-light fa-calendar-days"></i>21
                                       July, 2022</a> <a href="blog.html"><i
                                            class="fa-regular fa-tag"></i>Burger</a></div>
                             <h3 class="blog-title"><a href="blog-details.html">Best Hot Chessy raw In Pasta
                                       Makeing Trick.</a></h3>
                             <div class="blog-bottom"><a href="blog-details.html" class="line-btn">Read More</a>
                                  <a href="blog-details.html" class="comment"><i
                                            class="fa-regular fa-comments"></i>3 Comments</a></div>
                        </div>
                   </div>
              </div>
         </div>
    </div>
    <div class="shape-mockup leaf jump-reverse" data-bottom="7%" data-left="0"><img
              src="{% static 'assets/img/shape/leaf_1.png' %}" alt="shape"></div>
    <div class="shape-mockup leaf jump" data-bottom="20%" data-right="0"><img src="{% static 'assets/img/shape/chicken_1.png' %}"
              alt="shape"></div>
</section>

{% endblock %}