{% extends 'django_template.html' %}
{% load static %}
{% block content %}

     <div class="breadcumb-wrapper" data-bg-src="{% static 'assets/img/breadcumb/breadcumb-bg.jpg' %}">
          <div class="container z-index-common">
               <div class="breadcumb-content">
                    <h1 class="breadcumb-title">Ca<span class="font-style text-theme2">rt</span></h1>
                    <ul class="breadcumb-menu">
                         <li><a href="index.html">Home</a></li>
                         <li>Cart</li>
                    </ul>
               </div>
          </div>
     </div>
     <div class="as-cart-wrapper space-top space-extra-bottom">
          <div class="container">
               <div class="woocommerce-notices-wrapper">
                    <div class="woocommerce-message">Shipping costs updated.</div>
               </div>
               <form action="#" class="woocommerce-cart-form">
                    <table class="cart_table">
                         <thead>
                              <tr>
                                   <th class="cart-col-image">Image</th>
                                   <th class="cart-col-productname">Product Name</th>
                                   <th class="cart-col-price">Price</th>
                                   <th class="cart-col-quantity">Quantity</th>
                                   <th class="cart-col-total">Total</th>
                                   <th class="cart-col-remove">Remove</th>
                              </tr>
                         </thead>
                         <tbody>
                              <!-- cart items -->
                              {% for row in table %}
                                   <tr class="cart_item">
                                        <td data-title="Product"><a class="cart-productimage" href="shop-detailis.html"><img
                                                       width="91" height="91" src="{% static 'assets/img/menu/menu_thumb_1_1.png' %}"
                                                       alt="Image"></a></td>
                                        <td data-title="Name"><a class="cart-productname" href="shop-detailis.html">{{row.title}}</a></td>
                                        <td data-title="Price"><span class="amount"><bdi><span>&#8377;</span>{{row.price}}</bdi></span></td>
                                        <td data-title="Quantity">
                                             <span class="quantity"><bdi><span>{{row.quntity}}</span></bdi></span>
                                        </td>
                                        <td data-title="Total"><span class="amount"><bdi><span>&#8377;</span>{% widthratio row.price 1 row.quntity %}</bdi></span></td>
                                        <td data-title="Remove"><a type="button" class="remove cart_delete" data-price="{{row.price}}" data-quntity="{{row.quntity}}" data-productid="{{row.id}}"><i class="fal fa-trash-alt"></i></a></td>
                                   </tr>
                              {% endfor %}
                              <!-- cart items -->
                              
                             <!-- cart total -->
                             
                              <!-- cart total -->
                              
                         </tbody>
                    </table>
                    <div class="container ">
                         <div class="row ">
                              <div class="col-7">Order Total</div>
                              <div class="col-5" >&#8377;<span id="cart_total">{{grand_total}}</span></div>
                         </div>
                         
                              <div class="float-end mt-3 ">
                                   <a href="/food1/checkout" class="as-btn">Process To Checkout</a>
                              </div>

                         
                    </div>
               </form>
               
          </div>
     </div>
     {% endblock %}