{% extends 'django_template.html' %}
{% load static %}
{% block content %}
     <div class="breadcumb-wraper" data-bg-src="{% static 'assets/img/breadcumb/breadcumb-bg.jpg' %}">
          <div class="container z-index-common">
               <div class="breadcumb-content">
                    <h1 class="breadcumb-title">Check<span class="font-style text-theme2">out</span></h1>
                    <ul class="breadcumb-menu">
                         <li><a href="index.html">Home</a></li>
                         <li>Checkout</li>
                    </ul>
               </div>
          </div>
     </div>
     <div class="as-checkout-wraper space-top space-extra-bottom">
          <div class="container">
               <form class="woocommerce-checkout mt-40" method="post" id="checkoutform">
                    {% csrf_token %}
                    <div class="row">
                         <div class="col-lg-6 m-auto">
                              <h2 class="h4">Billing Details</h2>
                                   <div class="row">
                                        <div class="col-md-12 form-group"><input type="text" class="form-control"
                                                  placeholder="Full Name" id="name" name="name"></div>
                                        <div class="col-6 form-group"><input type="text" class="form-control"
                                                  placeholder="Address" id="address" name="address"></div>
                                        <div class="col-6 form-group"><input type="text" class="form-control"
                                                  placeholder="State" id="state" name="state"></div>
                                        <div class="col-md-6 form-group"><input type="text" class="form-control"
                                                  placeholder="Town / City" id="city" name="city"></div>
                                        <div class="col-md-6 form-group"><input type="text" class="form-control"
                                                  placeholder="Pincode / Zip" id="pincode" name="pincode"></div>
                                        <div class="col-12 form-group"><input type="text" class="form-control"
                                                  placeholder="Phone number" id="phonenumber" name="phonenumber"></div>
                                        <div class="col-12 form-group">
                                             <select name="payment_mode" id="payment_mode">
                                                  <option value="">Payment Mode</option>
                                                  <option value="1">online pay</option>
                                                  <option value="2">cash payment</option>
                                             </select>
                                        </div>
                                        
                                   </div>    
                         </div>
                    </div>
               </form>
               <h4 class="mt-4 pt-lg-2">Your Order</h4>
               <form action="#" class="woocommerce-cart-form">
                    <table class="cart_table mb-20">
                         <thead>
                              <tr>
                                   <th class="cart-col-image">Image</th>
                                   <th class="cart-col-productname">Product Name</th>
                                   <th class="cart-col-price">Price</th>
                                   <th class="cart-col-quantity">Quantity</th>
                                   <th class="cart-col-total">Total</th>
                              </tr>
                         </thead>
                         <tbody>
                              {% for row in table %}
                                   <tr class="cart_item">
                                        <td data-title="Product"><a class="cart-productimage" href="shop-details.html"><img
                                                       width="91" height="91" src="{% static 'assets/img/menu/menu_thumb_1_1.png' %}"
                                                       alt="Image"></a></td>
                                        <td data-title="Name"><a class="cart-productname" href="shop-details.html">{{row.title}}</a></td>
                                        <td data-title="Price"><span class="amount"><bdi><span>&#8377;</span>{{row.price}}</bdi></span></td>
                                        <td data-title="Quantity"><strong class="product-quantity">{{row.quntity}}</strong></td>
                                        <td data-title="Total"><span class="amount"><bdi><span>&#8377;</span>
                                             {% widthratio row.price 1 row.quntity %}</bdi></span></td>
                                        <td data-title="Remove"><a type="button" class="remove cart_delete" data-price="{{row.price}}" data-quntity="{{row.quntity}}" data-productid="{{row.id}}"><i class="fal fa-trash-alt"></i></a></td>
                                   </tr>
                              {% endfor %}
                         </tbody>
                         <tfoot class="checkout-ordertable">
                              <tr class="order-total">
                                   <th>Total</th>
                                   <td data-title="Total" colspan="4"><strong><span
                                                  class="woocommerce-Price-amount amount"><bdi><span
                                                            class="woocommerce-Price-currencySymbol">&#8377;</span><span id="cart_total">{{total}}</span></bdi></span></strong>
                                   </td>
                                   
                              </tr>
                              
                         </tfoot>
                    </table>
               </form>
               <div class="col-12 form-group "><button type="button" name="btncheakout" id="btncheakout" class="as-btn float-end">Place order</button></div>
          </div>
     </div>
{% endblock %}