{% extends 'django_template.html' %}
{% load static %}
{% block content %}
<div id="slider" class="ls-wp-container fitvidsignore hero-3 as-hero-carousel"
          style="width:1720px;height:850px;max-width:1720px;margin:0 auto;margin-bottom: 0px;">
          <div class="ls-slide" data-ls="duration:7000; transition2d:114; kenburnsscale:1.2;"><img width="1720"
                    height="850" src="{% static 'assets/img/hero/hero_bg_3_1.png' %}" class="ls-bg" alt="hero img"> <img width="470"
                    height="687" src="{% static 'assets/img/hero/hero_text_1.png' %}" class="ls-l ls-img-layer" alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:110px; top:40px;"
                    data-ls="offsetxin:-100; durationin:1600; easingin:easeOutQuint; rotatein:-45deg; parallax:true; parallaxlevel:12;">
               <img width="153" height="152" src="{% static 'assets/img/hero/shape_bg_1.png' %}"
                    class="ls-l ls-hide-phone ls-img-layer" alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:748px; top:60px;"
                    data-ls="scalexin:0; scaleyin:0; transformoriginin:100% 100% 0; parallax:true; parallaxlevel:10; parallaxtype:3d;">
               <ls-layer
                    style="font-size:40px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; color:#ffffff; font-family:'Lobster Two'; left:772px; top:96px;"
                    class="ls-l ls-hide-phone ls-text-layer"
                    data-ls="delayin:300; scalexin:0; scaleyin:0; parallax:true; parallaxlevel:10; parallaxtype:3d;">
                    $250</ls-layer><img width="126" height="50" src="{% static 'assets/img/hero/curve_line_1.png' %}"
                    class="ls-l ls-img-layer" alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:507px; top:559px;"
                    data-ls="clipin:0 0 0 100%;"> <a style="" class="ls-l ls-hide-phone" href="shop-details.html"
                    target="_self"
                    data-ls="offsetyin:-20; delayin:350; scalexin:0.8; scaleyin:0.8; hover:true; hoverscalex:1.1; hoverscaley:1.1;"><img
                         width="99" height="58" src="{% static 'assets/img/hero/button_1.png' %}" class="ls-img-layer" alt="hero img"
                         style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:457px; top:610px;">
               </a><img width="153" height="152" src="{% static 'assets/img/hero/shape_bg_1.png' %}"
                    class="ls-l ls-hide-desktop ls-hide-tablet ls-img-layer" alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:687px; top:30px; width:244px; height:243px;"
                    data-ls="scalexin:0; scaleyin:0; transformoriginin:100% 100% 0; parallax:true; parallaxlevel:10; parallaxtype:3d;">
               <ls-layer
                    style="font-size:64px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:700; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; color:#ffffff; font-family:'Lobster Two'; left:725px; top:88px;"
                    class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer"
                    data-ls="delayin:300; scalexin:0; scaleyin:0; parallax:true; parallaxlevel:10; parallaxtype:3d;">
                    $250</ls-layer><a style="" class="ls-l ls-hide-desktop ls-hide-tablet" href="shop-details.html"
                    target="_self"
                    data-ls="offsetyin:-20; delayin:350; scalexin:0.8; scaleyin:0.8; hover:true; hoverscalex:1.1; hoverscaley:1.1;"><img
                         width="99" height="58" src="{% static 'assets/img/hero/button_1.png' %}" class="ls-img-layer" alt="hero img"
                         style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:419px; top:609px; width:178px; height:105px;">
               </a><a style="" class="ls-l" href="#next" target="_self"
                    data-ls="hover:true; hoverbgcolor:#eb0029; static:forever;">
                    <ls-layer
                         style="font-size:26px; color:#fff; padding-top:0.6em; padding-bottom:0.6em; padding-right:0.6em; padding-left:0.6em; border-radius:10em; cursor:pointer; left:1662px; top:50%; background-color:#4d5765;"
                         class="ls-button-layer icon-btn"><i class="far fa-arrow-right"></i></ls-layer>
               </a><a style="" class="ls-l" href="#prev" target="_self"
                    data-ls="hover:true; hoverbgcolor:#EB0029; static:forever;">
                    <ls-layer
                         style="color:#fff; padding-bottom:0.6em; padding-left:0.6em; border-radius:10em; cursor:pointer; top:50%; font-size:26px; padding-top:0.6em; padding-right:0.6em; left:0px; background-color:#4d5765;"
                         class="ls-button-layer icon-btn"><i class="far fa-arrow-left"></i></ls-layer>
               </a>
          </div>
          <div class="ls-slide" data-ls="duration:7000; transition2d:114; kenburnsscale:1.2;"><img width="1720"
                    height="850" src="{% static 'assets/img/hero/hero_bg_3_2.png' %}" class="ls-bg" alt="hero img"> <img width="539"
                    height="456" src="{% static 'assets/img/hero/hero_shape_2.png' %}" class="ls-l ls-img-layer" alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:205px; left:260px;"
                    data-ls="offsetyin:-300; durationin:1500; delayin:150; rotatein:40deg; parallax:true; parallaxlevel:10; parallaxdurationmove:400; position:fixed;">
               <img width="372" height="384" src="{% static 'assets/img/hero/hero_text_2.png' %}" class="ls-l ls-img-layer"
                    alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:454px; top:154px;"
                    data-ls="offsetxin:-250; offsetyin:60; durationin:1600; easingin:easeOutQuint; rotatein:-45deg; parallax:true; parallaxlevel:12;">
               <img width="85" height="122" src="{% static 'assets/img/hero/hero_shape_9.png' %}" class="ls-l ls-img-layer"
                    alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:423px; top:147px;"
                    data-ls="offsetxin:40; offsetyin:40; durationin:1300; scalexin:0.7; scaleyin:0.7; transformoriginin:100% 100% 0; loop:true; loopduration:555; loopscalex:1.2; loopscaley:1.2; looptransformorigin:100$ 100% 0; loopcount:-1; loopyoyo:true;">
               <img width="69" height="115" src="{% static 'assets/img/hero/hero_shape_10.png' %}" class="ls-l ls-img-layer"
                    alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:400px; left:813px;"
                    data-ls="offsetxin:-40; offsetyin:-40; durationin:1300; scalexin:0.7; scaleyin:0.7; transformoriginin:0 100% 100%; bgcolorin:transparent; colorin:transparent; loop:true; loopduration:555; loopscalex:1.2; loopscaley:1.2; looptransformorigin:100$ 100% 0; loopcount:-1; loopyoyo:true;">
               <img width="265" height="178" src="{% static 'assets/img/hero/discount_1.png' %}" class="ls-l ls-img-layer"
                    alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:551px; top:550px;"
                    data-ls="offsetxin:230; offsetyin:130; durationin:1600; easingin:easeOutQuint; rotatein:-60;"></div>
          <div class="ls-slide" data-ls="duration:7000; transition2d:114; kenburnsscale:1.2;"><img width="1720"
                    height="850" src="{% static 'assets/img/hero/hero_bg_3_3.png' %}" class="ls-bg" alt="hero img"> <a style=""
                    class="ls-l ls-hide-phone" href="shop-details.html" target="_self"
                    data-ls="offsetyin:-20; delayin:350; scalexin:0.8; scaleyin:0.8; bgcolorin:transparent; colorin:transparent; hover:true; hoverscalex:1.1; hoverscaley:1.1; hoverbgcolor:transparent; hovercolor:transparent;"><img
                         width="150" height="77" src="{% static 'assets/img/hero/button_2.png' %}" class="ls-img-layer" alt="hero img"
                         style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:1029px; top:650px; width:150px; height:77px;">
               </a><a style="" class="ls-l ls-hide-desktop ls-hide-tablet" href="shop-details.html" target="_self"
                    data-ls="offsetyin:-20; delayin:350; scalexin:0.8; scaleyin:0.8; bgcolorin:transparent; colorin:transparent; hover:true; hoverscalex:1.1; hoverscaley:1.1; hoverbgcolor:transparent; hovercolor:transparent;"><img
                         width="150" height="77" src="{% static 'assets/img/hero/button_2.png' %}" class="ls-img-layer" alt="hero img"
                         style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:981px; top:656px; width:233px; height:120px;">
               </a><img width="127" height="50" src="{% static 'assets/img/hero/curve_line_2.png' %}" class="ls-l ls-img-layer"
                    alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:606px; left:940px;"
                    data-ls="durationin:1200; clipin:0 100% 0 0;"> <img width="589" height="489"
                    src="{% static 'assets/img/hero/hero_shape_11.png' %}" class="ls-l ls-img-layer" alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:142px; left:1061px;"
                    data-ls="durationin:1300; scalexin:0.6; scaleyin:0.6; bgcolorin:transparent; colorin:transparent; loop:true; loopduration:555; loopscalex:1.02; loopscaley:1.02; loopcount:-1; loopyoyo:true;">
               <img width="543" height="438" src="{% static 'assets/img/hero/hero_text_3.png' %}" class="ls-l ls-img-layer"
                    alt="hero img"
                    style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; top:147px; left:1053px;"
                    data-ls="offsetxin:-250; offsetyin:60; durationin:1600; easingin:easeOutQuint; rotatein:-45deg; bgcolorin:transparent; colorin:transparent; parallax:true; parallaxlevel:12;">
          </div>
     </div>
     <div class="space bg-smoke2 position-relative">
          <div class="top-shape1"></div>
          <h2 class="menu-title1">MENU</h2>
          <div class="container as-container">
               <div class="row as-carousel" data-slide-show="10" data-xl-slide-show="8" data-ml-slide-show="7"
                    data-lg-slide-show="5" data-md-slide-show="5" data-sm-slide-show="4" data-xs-slide-show="3">
                    {% for row in products %}
                         <div class="col-auto">
                              <div class="category-list">
                                   <a href="/food1/productdetail/{{row.id}}/{{row.categoryid}}">
                                        <div class="category-list_icon"><img src="{% static 'assets/img/category/category_1_1.png' %}"alt="icon"></div><a class="category-list_name">{{row.title}}</a>
                                   </a>
                              </div>
                         </div>
                         
                    {% endfor %}
               </div>
          </div>
     </div>
     <div class="space">
          <div class="container">
               <div class="row align-items-center">
                    <div class="col-xl-7 mb-40 mb-xl-0">
                         <div class="img-box3"><img src="{% static 'assets/img/normal/about_3_1.png' %}" alt="About">
                              <div class="about-counter1">
                                   <h3 class="counter-title"><span class="counter-number">24</span></h3>
                                   <div class="media-body">
                                        <p class="counter-info">YEARS OF</p>
                                        <h5 class="counter-text">Experience</h5>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-5 col-md-10 ps-xxl-5">
                         <div class="ms-xl-4">
                              <div class="title-area mb-30"><span class="sub-title"><img class="icon"
                                             src="{% static 'assets/img/icon/title_icon.svg' %}" alt="icon"> About Us</span>
                                   <h2 class="sec-title">We Always Provide Quality Fast Foods For You</h2>
                              </div>
                              <p class="mt-n2 mb-4">Seamlessly conceptualize sticky functionalities after prospective
                                   data. Interactively unleash customized supply chains whereas goal oriented paradigm.
                              </p>
                              <div class="about-feature-wrap">
                                   <div class="about-feature">
                                        <div class="about-feature_icon"><img src="{% static 'assets/img/icon/a-feature_1_1.svg' %}"
                                                  alt="icon"></div>
                                        <div class="about-feature_text">DELICIOUS</div>
                                   </div>
                                   <div class="about-feature">
                                        <div class="about-feature_icon"><img src="{% static 'assets/img/icon/a-feature_1_2.svg' %}"
                                                  alt="icon"></div>
                                        <div class="about-feature_text">FRESH</div>
                                   </div>
                                   <div class="about-feature">
                                        <div class="about-feature_icon"><img src="{% static 'assets/img/icon/a-feature_1_3.svg' %}"
                                                  alt="icon"></div>
                                        <div class="about-feature_text">BEST PRICE</div>
                                   </div>
                              </div><a href="about.html" class="as-btn">ABOUT MORE</a>
                         </div>
                    </div>
               </div>
          </div>
          <div class="shape-mockup about-shape3" data-bottom="120px" data-left="15%"><img
                    src="{% static 'assets/img/shape/bg_shape_4.png' %}" alt="shapes"></div>
          <div class="shape-mockup leaf jump d-none d-xxl-block" data-bottom="0%" data-left="0%"><img
                    src="{% static 'assets/img/shape/leaf_3.png' %}" alt="shape"></div>
          <div class="shape-mockup leaf jump-reverse d-none d-xxl-block" data-bottom="120px" data-right="0%"><img
                    src="{% static 'assets/img/shape/plate_1.png' %}" alt="shape"></div>
     </div>
     <div class="space-bottom">
          <div class="container">
               <div class="row gy-4">
                    <div class="col-xl-4 col-md-6">
                         <div class="offer-card" data-bg-src="{% static 'assets/img/bg/discount_bg_1.jpg' %}">
                              <h3 class="offer-title box-title">BURGER</h3>
                              <p class="offer-text">Get a 20% Discount on This Week</p><a href="shop-details.html"
                                   class="line-btn">BUY NOW</a>
                         </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                         <div class="offer-card" data-bg-src="{% static 'assets/img/bg/discount_bg_2.jpg' %}">
                              <h3 class="offer-title box-title">FRENCH FRY</h3>
                              <p class="offer-text">Get a 30% Discount on This Week</p><a href="shop-details.html"
                                   class="line-btn">BUY NOW</a>
                         </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                         <div class="offer-card" data-bg-src="{% static 'assets/img/bg/discount_bg_3.jpg' %}">
                              <h3 class="offer-title box-title">ITALIAN PASTA</h3>
                              <p class="offer-text">Get a 25% Discount on This Week</p><a href="shop-details.html"
                                   class="line-btn">BUY NOW</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <section class="space">
          <div class="container">
               <div class="title-area text-center"><span class="sub-title"><img class="icon"
                              src="{% static 'assets/img/icon/title_icon.svg' %}" alt="icon"> News & Blog</span>
                    <h2 class="sec-title">Our Latest Foods <span class="font-style text-theme">News</span></h2>
                    <p class="sec-text ms-auto me-auto">Objectively pontificate quality models before intuitive
                         information. Dramatically recaptiualize multifunctional materials.</p>
               </div>
               <div class="row slider-shadow as-carousel" data-slide-show="3" data-lg-slide-show="2"
                    data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
                    {% for row in hotels %}
                         <div class="col-md-6 col-xl-4">
                              <div class="blog-card">
                                   <a href="/food1/bld/{{row.id}}">
                                   <div jclass="blog-img"><img src="{% static 'assets/img/blog/blog_1_1.jpg' %}" alt="blog image"></div>
                                   <div class="blog-content">
                                        <div class="blog-meta"><i class="fa-regular fa-user"></i><span> Honer :</span> {{row.name}} &nbsp; &nbsp; &nbsp; &nbsp;<i class=" 	fas fa-hotel"></i> {{row.compneyname}}</div>
                                        <h3 class="blog-title">{{row.discription}}</h3>
                                        <div class="blog-bottom"><span class="line-btn">Explore Our Fresh Food</div>
                                        </a>
                              </div>
                         </div>
                         
                         </div>
                    {% endfor %}
          </div>
          <div class="shape-mockup leaf jump-reverse d-none d-lg-block" data-top="12%" data-left="0"><img
                    src="{% static 'assets/img/shape/leaf_3.png' %}" alt="shape"></div>
          <div class="shape-mockup leaf jump d-none d-xl-block" data-bottom="12%" data-right="0"><img
                    src="{% static 'assets/img/shape/plate_2.png' %}" alt="shape"></div>
     </section>
{% endblock %}
