{% extends 'basetemplate.html' %}

{% block content %}
<div class="container">
    <div class="row p-4">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h1>homepage</h1>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas commodi rem doloremque deleniti fuga blanditiis id soluta sapiente hic, ullam reprehenderit nesciunt expedita! Ut maxime ratione illo alias, nesciunt sunt.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}