{% extends 'django_template.html' %}
{% load static %}
{% block content %}
	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Cart</h1>
					
				</div>
			</div>
		</div>
	</section>
	<section class="cart_area" style="margin-top: -150px;">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{% static 'img/cart.jpg' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{row.title}}</p> <button data-cartid="{{row.id}}" data-price="{{row.price}}"  data-quantity="{{row.quntity}}"  class="btn btn-warning btndelete">Delete</button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>&#8377; {{row.price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" value="{{row.quntity}}">
                                       
                                    </div>
                                </td>
                                <td>
                                    <h5>&#8377; {% widthratio 12 1 12 %}</h5>
                                </td>
                            </tr>
                            {% endfor %}
                     
                           
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5 id="cart_total">{{grand_total}}</h5>
                                </td>
                            </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="float-right">
                <button class="btn btn-warning ">delete</button>
                <a href="cheakout" class="btn btn-danger"> procces to cheakout</a>
            </div>
        </div>
    </section>
	<!-- start footer Area -->
{% endblock %}
	