{% extends 'django_template.html' %}
{% load static %}
{% block content %}
	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Register</h1>
					
				</div>
			</div>
		</div>
	</section>
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-6 m-auto">
					<div class="login_form_inner">
						<h3>Forgot password</h3>
						<form class="row login_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email">
							</div>
							
							<div class="col-md-12 form-group">
								<button type="button" value="submit" class="primary-btn" id="btnsubmitemail">Send me recovery email</button>
							</div>
						</form>

						<div class="card">
							<div class="card-body" id="newoutput">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	{% endblock %}