{% extends 'django_template.html' %}
{% load static %}
{% block content %}
	
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login</h1>
					
				</div>
			</div>
		</div>
	</section>
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 m-auto">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" method="post" id="loginform" >
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="loginemail" name="loginemail" placeholder="Username">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Password">
							</div>
							
							<div class="col-md-12 form-group">
								<button type="button" value="submit" class="primary-btn" id="btnlogin">Log In</button>
								<a class="primary-btn" href="register2">Create an Account</a>
								<a href="forgotpassword">Forgot Password?</a>
							</div>
						</form>

						<div class="card">
							<div class="card-body" id="loginoutputs">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	
	{% endblock %}

