{% extends 'django_template.html' %}
{% load static %}
{% block content %}
	
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Register Page</h1>
				</div>
			</div>
		</div>
	</section>
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 m-auto">
					<div class="login_form_inner" style="margin-top:10px;">
						<h3>Register</h3>
						<form class="row login_form" method="post" id="registerform">
                            {% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="registeremail" name="registeremail" placeholder="email">
							</div>
							<div class="col-md-12 form-group">
								<input type="tel" class="form-control" id="registermobile" name="registermobile" placeholder="Mobile">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="registerpassword" name="registerpassword" placeholder="Password">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="registerconfirmpassword" name="registerconfirmpassword" placeholder="confirmpassword" >
							</div>
							<div class="col-md-12 form-group">
								<button type="button" value="register" class="primary-btn" id="btnregister">Register</button>
								<a href="forgotpassword">Forgot Password?</a>
							</div>
						</form>
						<div id="output">
							{{message}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	
	{% endblock %}