{% extends 'django_template.html' %}
{% load static %}
{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area mb-5">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1 ">
					<div class="s_product_text">
						<h3>{{row.title}}</h3>
						<h2>&#8377;{{row.sellprice}} &nbsp;<strike>&#8377;{{row.price}}</strike></h2>
						
						<p>{{row.description}}</p>
						<div class="product_count">
							<label for="qty">Quantity:</label>
							<input type="text" name="qty" id="sst" maxlength="12" value="{{row.stock}}" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp; &amp; sst > 0 ) result.value--;return false;"
							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
						</div>
						<div class="card_area d-flex align-items-center btnaddtocart" data-productid="{{row.id}}">
							<a class="primary-btn">Add to Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	

	

{% endblock %}